body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(lottery.webp);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: #1c87c9;
}

input[type="number"] {
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1c87c9;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #145a88;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.reset-button {
    margin-top: 20px;
    background-color: #e74c3c;
}

.reset-button:hover {
    background-color: #c0392b;
}

.lottery-img {
    width: 150px;
    margin-bottom: 20px;
}
